@using Ecommerence.Models
@model Product

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient m-lg-0 p-lg-3">
		<div action="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2"> Delete Product</h2>
			</div>
		</div>
	</div>
<div class="card-body p-4">
		<form method="post">
			<div class="border-black">
				<div asp-validation-summary="All"></div>
				<div class="mb-3">
					<label asp-for="Title"></label>
					<input asp-for="Title" readonly type="text" class="form-control" />
					

				</div>
				<div class="mb-3">
					<label asp-for="ISBN"></label>
					<input asp-for="ISBN" readonly type="text" class="form-control" />
					

				</div>
				<div class="mb-3">
					<label asp-for="Author"></label>
					<input asp-for="Author" readonly type="text" class="form-control" />
					

				</div>
				<div class="mb-3">
					<label asp-for="ListPrice"></label>
					<input asp-for="ListPrice" readonly type="text" class="form-control" />
					

				</div>
				<div class="mb-3">
					<label asp-for="Price50"></label>
					<input asp-for="Price50" readonly type="text" class="form-control" />

				</div>
				<div class="mb-3">
					<label asp-for="Price100"></label>
					<input asp-for="Price100" readonly type="text" class="form-control" />
				</div>
				<div class="mb-3">
					<label asp-for="Price"></label>
					<input asp-for="Price" readonly type="text" class="form-control" />
				</div>

				<div class="mb-3">
					<label asp-for="Description"></label>
					<input asp-for="Description" readonly type="text" class="form-control" />

				</div>
					<button class="btn btn-danger row form-control" style="width:150px">Delete</button>
					<div class="ps-3">
						<a asp-controller="Product" asp-action="Index" class="ms-4 row btn btn-foutline-primary btn-light border form-control" style="width:150px">Back to List</a>
					</div>
				</div>
				</form>
			</div>
		@section Scripts {
			<partial name="_ValidationScriptsPartial" />
		}
	</div>
</div>